* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --black: #373a43;
  --blue: #2b6bd1;
  --light-gray: #f0f1f4;
  --dark-gray: #9399aa;

  --placeholder-input-bg: var(--light-gray);
  --placeholder-input-text: var(--dark-gray);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
